body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.button {
    align-self: center;
    background-color: aqua; 
    width: 250px;
    height: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}