.header {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

.logo a{
    text-decoration: none;
    color: red;
    align-items: flex-start;
    margin-left: 30px;
}

.nav {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    justify-content: center;
}

li {
    display: inline;
    text-decoration: none;
    margin: 10px;
    font-family: monospace;
    font-size: 16px;
}
